body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 150px;
 background-size: cover;
 background-repeat: no-repeat; 
 background-color: #193356;  
 background-image: url("https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/14720569_10154017940652005_4162156015967630660_n.jpg?oh=0bf4be5917b6d27e1a3931e5f8bc69e4&oe=5A3C407C"); 
}


h1 {
 font-weight: lighter;
 font-size: 40px;
 letter-spacing: 2px;
 margin-bottom: 10px;
 margin-left: 10px;
 margin-right: 10px; 
}


.resultSection {
 font-weight: lighter;
 font-size: 40px;
 margin: 10px 10px 10px 10px;
 width: 500px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #ff5733;
}

.inputSection {
 margin: 50px 10px 80px 10px;
 width: 500px;
}

.inputs {
 width: inherit;
 display: flex;
 flex-direction: column;
}

input {
 margin-top: 10px;
}

.addOption {
 margin-top: 10px;
}

.selected {
 background: #265350;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url("https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/12931045_10153579220382005_5932600990600117771_n.jpg?oh=cdab83d6d3cbc34b38108133f2960f5e&oe=5A3F9F09");
}

.mainFrame {
  background: rgba(255, 255, 255, 0.5) /* Green background with 30% opacity */  
}

.goButton {
 margin: 10px 10px 10px 10px;
 width: 500px;
 display: flex;

 flex-direction: column;
 align-items: center;
}

